{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": ".",
    "paths": {
      "@capex/auth-core": ["../../packages/capex-auth-core/src/index.ts"],
      "@capexbe/*": ["../../capexbe/src/*"]
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true,
  "minify": false
}
